.container {
    margin-top:8px;
    padding:8px;
    height: 600px;
    position:relative;
    background-color: #a5cdcea7;
}
body {
    margin:0;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-size: larger;
    color:#000000;
    background-color: #d1eaeb6c;
}
h1 {
    font-family: 'Dancing Script', cursive;
    font-size: 4rem;
    margin:50px auto 0px;
}
h2 {
    font-size: 2rem;
    margin:0 auto 0;
    font-weight: normal;
}
h1,h2 {color:#4c9fa5}

h3,a {

    color: #1f9698;
}

p {color:#40514E;}

hr {
    width:1%;
	margin: 20px auto;
	padding: 0;
	height: 0;
	border: none;
	border-top: 4px dotted #7d9d9d;
}

#cloud-left{
    position: absolute;
    right: 30%;
}

#cloud-right{
    position: absolute;
    left: 30%;
}
 #mountain {
    position: absolute;
    left:35%;
            }

        
#mypic {
    height:10%;
    width:10%;
    border-radius: 50%;
    padding: 1%;
}
.skills_imgs {
    height: 20%;
    width: 20%;
    float:left;
    margin-right: 50px;
}

.italiano {font-style: italic;}

.skill-row {
    margin:2rem auto 6rem;
    width: 70%;
    line-height: 2;
    text-align:left;
}
    

.btn {
    margin:60px auto 60px;
    display:inline-block;
    background: #38ced0e5;
    background-image: -webkit-linear-gradient(top, #38ced0e5, #207da8);
    background-image: -moz-linear-gradient(top, #38ced0e5, #207da8);
    background-image: -ms-linear-gradient(top, #38ced0e5, #207da8);
    background-image: -o-linear-gradient(top, #38ced0e5, #207da8);
    background-image: linear-gradient(to bottom, #38ced0e5, #207da8);
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    text-shadow: 1px 1px 3px #1a161a;
    color: #ffffff;
    font-size: 24px;
    padding: 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
    text-decoration: none;
  }

  

  
.rightsreserved {color: rgb(106, 58, 58);}
.bottom-container {
    padding-top: 20px;
    background-color: #38ced0e5;
}

a {    text-decoration: none;
    font-weight: bolder;
    padding: 20px;
    color: #1f9698;
}
a:hover {text-decoration: underline;
text-underline-offset: 6px;}